<app-navbar></app-navbar>

<div class="logement-page">
  <!-- Partie gauche : Liste des logements -->
  <div class="logement-list">
    <h2>Liste des logements</h2>
    <div *ngFor="let logement of logements" class="logement-container">
      <div class="logement">
        <div class="header">
          <span class="availability">
            <p><i class="fas fa-map-marker-alt"></i> {{ logement.adresse }}</p>
          </span>
          <h3>{{ logement.description }}</h3>

          <span class="price">{{ logement.prix }} DT</span>

        </div>

        <div class="content">
          <div class="details">
            <p>
              <strong>Equipement disponible :</strong> {{ logement.equipDispo }}
            </p>
            <p>
              <strong>Date de disponibilité :</strong>
              {{ logement.dateDisponibilite | date : "dd/MM/yyyy" }}
            </p>
            <p>
              <strong>Nombre de places libres :</strong>
              {{ logement.nombrePlaceLibre }}
            </p>
            <p>
              <strong>Propriétaire :</strong>
              {{ logement.proprietaire.firstname }}
              {{ logement.proprietaire.lastname }}
            </p>
          </div>

          <!-- Affichage des images -->
          <div
            *ngIf="logement.photoUrls && logement.photoUrls.length > 0"
            class="photo-container"
          >
            <div *ngFor="let photo of logement.photoUrls">
              <img
                [src]="'http://localhost:8082/api' + photo"
                alt="Photo du logement"
              />
            </div>
          </div>
        </div>
        <div class="details-button">
          <button [routerLink]="['/logement/details', logement.id]" class="btn btn-primary">
            Voir les détails
          </button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Partie droite : Formulaire de création -->
  <div class="logement-form">
    <app-logement></app-logement>
  </div>
</div>
