<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Adresse</th>
          <th>Prix</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logement of filteredLogements">
            <td>{{ logement.id }}</td>
            <td>
              <div *ngIf="logementToEdit?.id !== logement.id">{{ logement.adresse }}</div>
              <input
                *ngIf="logementToEdit?.id === logement.id"
                [(ngModel)]="logementToEdit.adresse"
                placeholder="Adresse"
              />
            </td>
            <td>
              <div *ngIf="logementToEdit?.id !== logement.id">{{ logement.prix }}</div>
              <input
                *ngIf="logementToEdit?.id === logement.id"
                [(ngModel)]="logementToEdit.prix"
                placeholder="Prix"
                type="number"
              />
            </td>
            <td>
              <div *ngIf="logementToEdit?.id !== logement.id">{{ logement.description }}</div>
              <input
                *ngIf="logementToEdit?.id === logement.id"
                [(ngModel)]="logementToEdit.description"
                placeholder="Description"
              />
            </td>
            <td>
              <button *ngIf="logementToEdit?.id !== logement.id" (click)="editLogement(logement)">Modifier</button>
              <button *ngIf="logementToEdit?.id === logement.id" (click)="updateLogement()">Enregistrer</button>
              <button *ngIf="logementToEdit?.id === logement.id" (click)="logementToEdit = null">Annuler</button>
              <button (click)="deleteLogement(logement.id)">Supprimer</button>
            </td>
          </tr>
          
      </tbody>
    </table>
  </div>
  